html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #f9f9f9;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* mystyle css */ 

body {
	font-family: 'open-sans', sans-serif;
}

@font-face {
	font-family: 'FontAwesome';  
  	src: url('../fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  	src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/fontawesome-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.col-2 {
	width: calc(49% - 5px);;
	float: left; 
}

.nnc-left {
	float: left;
}

.nnc-right {
	float: right;
}

.nnc-right a {
	color: #D7263D;
}

.nnc-container {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0 15px;
	margin-right: auto;
   	margin-left: auto; 
}

.nnc-container:after {
	content: "";
	display: table;
	clear: both;
}

.nnc-clearblock:after {
	content: "";
	display: table;
	clear: both;
}

a, i {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; 
}

img {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; 
}

/*====================================
=            Add size Css            =
====================================*/
.nnc-970X250-ads, .nnc-970X90-ads {
	margin-bottom: 18px;
}

.nnc-970X250-ads {
	max-width: 970px;
	max-height: 250px;
	overflow: hidden;
}

.nnc-970X90-ads {
	max-width: 970px;
	max-height: 90px;
	overflow: hidden;
}


/*=====  End of Add size Css  ======*/

/*===================================
=            Default Css            =
===================================*/
/*=============================================
=                 Single Page                 =
=============================================*/
body.page .entry-header h1 {
    font-size: 20px;
    padding-bottom: 12px;
}

article.page .nnc-img {
	margin-bottom: 20px;
}

article.page .entry-content {
	margin: 0;
}

.entry-content p {
	line-height: 24px;
	font-size: 14px;
}

footer.entry-footer {
    padding-top: 18px;
}

a.post-edit-link {
    background: #333;
    color: #fff;
    padding: 6px;
    display: inline-block;
    text-decoration: none;
    font-size: 11px;
} 

a.post-edit-link:hover {
    background: #D7263D; 
}

a.post-edit-link:before {
	content: '\f013';
	font-family: 'FontAwesome';
	color: #fff;
	padding-right: 4px;
}

/*=====  End of Single Page  ======*/



/*=============================================
=                 Single Post                 =
=============================================*/

body.single h1.entry-title {
    font-size: 20px;
    padding-bottom: 12px;
}

body.single .entry-content {
	margin: 0;
}

.single-post .nnc-img {
	margin-bottom: 20px;
}

.post .nnc-img {
	margin-bottom: 20px;
}

.entry-meta {
    margin-top: 18px;
}

.navigation.post-navigation,nav.navigation.posts-navigation {
	border-top: 1px solid #eee;
	box-shadow: 0 0 3px 1px #eee; 
	background: #fff;
}

.nav-previous a, .nav-next a {
    display: block; 
    color: #333; 
    font-size: 14px;
    line-height: 22px;
    position: relative;
    padding: 14px;
}

.nav-previous a:hover, .nav-next a:hover{ 
    color: #D7263D; 
}

.nav-previous a:before {
	content: '\f100';
	font-family: 'FontAwesome'; 
	color: #444;
	font-size: 14px;
	padding-right: 4px;
	display: block;
}

.nav-previous a:after {
	content: 'Previous Article'; 
	color: #444;
	font-size: 14px;
	padding-right: 4px;
	display: block;
	position: absolute;
    top: 14px;
    left: 30px;
}

.nav-next a:before {
	content: '\f101'; 
	font-family: 'FontAwesome'; 
	color: #444;
	font-size: 14px;
	padding-right: 4px;
	display: block;
} 

.nav-next a:after {
	content: 'Next Article'; 
	color: #444;
	font-size: 14px;
	padding-right: 4px;
	display: block;
	position: absolute;
    top: 14px;
    right: 30px;
}

/*=====Author Detail========*/
.author_wrapper {
	background: #eee;
	padding: 14px;
	margin-bottom: 20px;
}

.pm_author_info_wrap {
	float: right;
	width: 84%;
}

.single_author_inner:after {
    content: '';
    display: block;
    clear: both;
}


/*=============================================
=                 Default Comments                 =
=============================================*/
h2.comments-title {
    margin-bottom: 14px;
	font-size: 16px;
}

article.comment-body { 
    margin-bottom: 8px; 
	font-size: 13px;
	border-bottom: 1px solid #eee; 
	padding-bottom: 20px;
	margin-bottom: 20px;
}

footer.comment-meta:after {
    content: '';
    display: block;
    clear: both;
}

.comment-author.vcard img {
    float: left;
	width: 60px;
	margin-right: 12px;
}

.comment-metadata {
    padding: 6px 0;
}

.comment-content {
    padding: 14px;
	line-height: 24px;
	background: #f9f9f9;
}

a.comment-edit-link {  
	color: #333;
	border-left: 1px solid #ccc;
	padding-left: 14px;
	margin-left: 14px;
}

a.comment-edit-link:before {
	content: '\f013';
	font-family: 'FontAwesome'; 
	padding-right: 4px;
} 

.reply a:before {
	content: '\f112';
	font-family: 'FontAwesome'; 
	padding-right: 4px;
}

h3#reply-title {
    background: #333;
    color: #fff;
    padding: 12px;
    font-size: 15px;
}

p.logged-in-as {
    padding: 14px;
    font-size: 14px;
}

p.comment-form-comment label {
	padding-bottom: 10px;
	display: inline-block;
}

input.submit {
	background: #333;
	box-shadow: none;
	text-shadow: none;
	color: #fff;
	border: 0;
	border-radius: 0;
	margin: 14px 0; 
	padding: 10px;
	font-size: 14px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

input.submit:hover {
	background: #D7263D;
	box-shadow: none;  
}

textarea#comment {
	border-radius: 0;
	border: 1px solid #eee;
}

a#cancel-comment-reply-link {
    font-size: 14px;
    font-style: italic;
    color: #D7263D;
    padding-left: 6px;
}
  
a#cancel-comment-reply-link:before {
	content:  '\f00d';
	font-family: 'FontAwesome';
	padding-right: 3px;
	font-size: 12px; 
}

/*=====  End of Default Comments  ======*/

/*=====  End of Single Post  ======*/

.wpcf7-form p {
	padding: 8px 0;
}

input.wpcf7-form-control {
	width: 100%;
	padding: 6px 8px;
	font-size: 14px;
	border-radius: 0;
}

textarea.wpcf7-form-control {
	width: 100%;
	padding: 6px 8px;
	font-size: 14px;
	border-radius: 0;
}

input.wpcf7-submit {
	background: #666;
	box-shadow: none;
	text-shadow: none;
	color: #fff;
	border: 0;
	padding: 12px;
	border-radius: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
} 

input.wpcf7-submit:hover {
	background: #D7263D;
	box-shadow: none; 
}


/*=====  End of Default Css  ======*/



/*==============================
=            Header            =
==============================*/ 
.nnc-top-header {
	padding: 10px 0;
	border: 1px solid #eee; 
	line-height: 16px;
}

.nnc-top-menu {
	float: left;
	width: 33.33%;
}

.nnc-top-menu ul li {
	display: inline-block;
	margin-right: 14px;
}

.nnc-top-menu ul li a {
	text-decoration: none;
	color: #555;
	font-size: 12px;
	font-weight: normal;
}

.nnc-top-menu ul li a:hover {
	color: #D7263D;
}

ul#top-menu li.current_page_item a {
    color: #D7263D; 
}


/*--------------------------------------------------------------
   Social Link css
--------------------------------------------------------------*/
.nnc-social {
	float: left;
	text-align: center;
	width: 33.33%;
	line-height: 10px;
}

.nnc-social ul li {
	display: inline-block;
	margin: 0 6px;
} 

.nnc-social li a {  
    display: inline-block;
	text-decoration: none; 
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}

.nnc-social li a::before {
    display: block;
    padding: 0 10px;
    font-family: FontAwesome; 
    content: "\f005"; 
    text-align: center;
}
.nnc-social li a[href*="facebook.com"],
.nnc-social li a[href*="instagram.com"],
.nnc-social li a[href*="twitter.com"],
.nnc-social li a[href*="plus.google.com"],
.nnc-social li a[href*="youtube.com"],
.nnc-social li a[href*="pinterest.com"],
.nnc-social li a[href*="linkedin.com"],
.nnc-social li a[href*="tumblr.com"] {
    font: 0/0 a;
    color: transparent;
}

.nnc-social li a[href*="facebook.com"]::before,
.nnc-social li a[href*="instagram.com"]::before,
.nnc-social li a[href*="twitter.com"]::before,
.nnc-social li a[href*="plus.google.com"]::before,
.nnc-social li a[href*="youtube.com"]::before,
.nnc-social li a[href*="pinterest.com"]::before,
.nnc-social li a[href*="linkedin.com"]::before,
.nnc-social li a[href*="tumblr.com"]::before {
    content: '\f09a';
    font-size: 12px;
    line-height: 16px;
    padding: 0; 
    color: #3b5998; 
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.nnc-social li a:hover[href*="facebook.com"]::before,
.nnc-social li a:hover[href*="instagram.com"]::before,
.nnc-social li a:hover[href*="twitter.com"]::before,
.nnc-social li a:hover[href*="plus.google.com"]::before,
.nnc-social li a:hover[href*="youtube.com"]::before,
.nnc-social li a:hover[href*="pinterest.com"]::before,
.nnc-social li a:hover[href*="linkedin.com"]::before,
.nnc-social li a:hover[href*="tumblr.com"]::before {  
    transform: scale(1.5);
}

 

.nnc-social li a[href*="twitter.com"]::before {
    content: '\f099';
    color: #55acee;
}

.nnc-social li a[href*="plus.google.com"]::before {
    content: '\f0d5';
    color: #dd4b39;
}

.nnc-social li a[href*="youtube.com"]::before {
    content: '\f167';
    color: #bb0000;
}

.nnc-social li a[href*="pinterest.com"]::before {
    content: '\f0d2';
    color: #cb2027;
}

.nnc-social li a[href*="instagram.com"]::before {
    content: '\f16d';
    color: #e95950;
}

.nnc-social li a[href*="linkedin.com"]::before {
    content: '\f0e1';
    color: #007bb5;
}

.nnc-social li a[href*="tumblr.com"]::before {
    content: '\f173';
    color: #32506d;
}



.nnc-logo-img {
	float: left;
	width: 120px;
	margin-right: 14px;
}

.nnc-logo-bar {
	padding: 10px 0;
}

.nnc-logo {
	float: left;
    padding: 25px 0;
    line-height: 20px;
}

p.site-description {
    font-size: 12px;
}

.widget.widget_advertisement {
	margin: 0;
}

.nnc-728X90-ads {
	float: right;
	line-height: 0;
	max-width: 728px;
	max-height: 90px;
	overflow: hidden;
}

.nnc-time {
	color: #555;
	font-size: 12px;
	float: right;
}

/**
 *
 * Top Menu
 *
 */ 

.nnc-top-menu li ul {
	background: #fff;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.nnc-top-menu ul {
	margin: 0;
	padding: 0;
}

.nnc-top-menu li {
	position: relative;
	float: left;
} 

.nnc-top-menu li a {
	display: block; 
	color: #333;
	font-size: 12px;  
}



.nnc-top-menu li a:hover { 
    color: #D7263D;
}

/*

.nnc-top-menu li a:hover,
.nnc-top-menu li:hover,
.nnc-top-menu li:hover > a,
.current-menu-item > a {
	background: #D7263D;
	color: #666 !important;
}

.nnc-top-menu li ul li a:hover,
.nnc-top-menu li ul li :hover,
.nnc-top-menu li ul li :hover > a ,
ul.sub-menu .current-menu-item > a {
	background: #D7263D;
	color: #666 !important;
}*/

.nnc-top-menu ul.menu li ul.sub-menu li a {
    color: #333;
	padding: 6px;
}
 
.nnc-top-menu ul.menu li ul.sub-menu li a:hover {
    background: #D7263D;
    color: #fff;
} 

.nnc-top-menu ul.sub-menu .current-menu-item > a {
	background: #D7263D;
	color: #fff;
}

.nnc-top-menu li ul {
	position: absolute;
	z-index: 99999;
	top: 150%;
	display: block;
	visibility: hidden;
	width: 220px;
	max-width: 500%;
	opacity: 0;
}

.nnc-top-menu li ul li {
	float: none;
}

.nnc-top-menu li ul li:first-child a {
	border-right: none;
}

.nnc-top-menu li ul li a {
	color: #fff;
	border: none;
}

.nnc-top-menu li li ul {
	top: 50%;
	left: 100%;
}

.nnc-top-menu li:hover > ul {
	top: 100%;
	visibility: visible;
	opacity: 1;
	padding-top: 14px;
}

.nnc-top-menu li li:hover > ul {
	top: 0;
}

.nnc-top-menu li ul li {
	display: block;
}

.nnc-top-menu li ul li:first-child {
	border-top: 2px solid #D7263D;
}



/*=====  End of Header  ======*/

/*=====================================
=            Trending News            =
=====================================*/
.nnc-trending-news {
	padding: 10px 0 0;
}

.nnc-trending-single {
	float: left;
	width: 70%;
	max-height: 37px;
	background: #fff;
	border: 1px solid #eee;
}

.nnc-trend-title {
	font-size: 13px;
	background: #D7263D;
	float: left;
	padding: 11px;
	height: 35px;
	color: #fff;
	position: relative;
}

.nnc-trend-title:after {
    position: absolute;
    top: 6px;
    right: -12px;
    content: '';
    z-index: 1;
    border-left: 24px solid transparent;
    border-bottom: 24px solid #D7263D;
    transform: rotate(-45deg);
}

.newsticker {
    display: inline-block;
    padding-left: 0;
    overflow: hidden;
    height: 36px;
}

.newsticker li {
	padding: 8px 12px 11px 34px;
}

.newsticker li a {
	text-decoration: none;
	color: #333;
	font-size: 13px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.newsticker li a:hover {
	color: #D7263D;
}  

.nnc-top-breadcrumbs {
    padding: 12px;
	font-size: 13px; 
	color: #333;
} 

.nnc-top-breadcrumbs span.current {
	font-size: 13px; 
	color: #333;
}

.nnc-top-breadcrumbs a {
	font-size: 13px; 
}

span.breadcrumb_separator {
	font-size: 13px;
	color: #999;
	padding: 0 2px;
}

/*=====  End of News Ticker  ======*/

.nnc-search {
	float: right;
	width: 30%;
	cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.s-form {
	width: 100%;
	position: relative;
}

.search-icon {
	position: absolute;
	top: 0;
	right: 0;
}

.search-icon i {
    padding: 11px;
    border-left: 1px solid #eee;
    color: #333;
}

.search-icon i:hover {
	color: #D7263D;
}

.search-form {
	float: left;
	width: 100%;
	position: relative;
}

.search-form input[type="text"] {
    padding: 8px; 
    border-left: 0; 
    border: 1px solid #eee;
    border-radius: 0;
    outline: none; 
    width: 100%;
    font-size: 13px;
    opacity: 1;
    color: #666!important;
    margin-left: -1px;
	position: relative;
}

.search-form input[type="text"] ::-webkit-input-placeholder {
   color: #666!important;
}

.search-form input[type="text"] :-moz-placeholder { /* Firefox 18- */
   color: #666!important;
}

.search-form input[type="text"] ::-moz-placeholder {  /* Firefox 19+ */
   color: #666!important;
}

.search-form input[type="text"] :-ms-input-placeholder {
   color: #666!important;
} 

button.search-submit { 
    bottom: 0; 
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    outline: none;
    outline-color: 0;
}

button.search-submit i {
    padding: 12px;
    background: #D7263D; 
    border: 0;
    box-shadow: none;
    color: #fff;
    text-shadow: none; 
}

/*=====  End of Trending News  ======*/


/*=======================================
=            highlight Banner            =
=======================================*/
.nnc-highlight-banner {
    margin: 10px 0;
    background: #fff;
    padding: 2px;
    box-shadow: 0 0 3px 1px #eee;
}

.nnc-highlight-slider .widget {
	margin: 0;
}

.nnc-highlight-post .widget {
	margin: 0;
}

.nnc-highlight-slider {
	width: 50%;
	float: left;
	padding-right: 2px;
}

.nnc-highlight-slider .nnc-slide-img {
	line-height: 0;
}

.swiper-container {
	position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.swiper-button-prev {
	left: -2px;
	opacity: 0;
	visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.swiper-button-next {
	right: -2px;
	opacity: 0;
	visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.swiper-button-prev,
.swiper-button-next
 i {
    background: rgba(000,000,000,.5);
    color: #fff;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    font-size: 24px;
}

.swiper-container:hover .swiper-button-prev {
	left: 0;
	opacity: 1;
	visibility: visible;
}

.swiper-container:hover .swiper-button-next {
	right: 0;
	opacity: 1;
	visibility: visible;
}

.nnc-entry-title a {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	display: block;
	line-height: 24px;
	margin-bottom: 10px;
	font-family: 'Open Sans', sans-serif;
}

.nnc-entry-title a:hover {
	color: #D7263D;
}

.nnc-dtl {
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: linear-gradient(to top, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0.8));
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 18px 18px 0 18px;
}

.nnc-entry-meta span {
	margin-right: 14px;
}

span.posted-on a {
	padding: 6px 6px 6px 10px;
	background: #D7263D;
	color: #fff;
	display: inline-block;
	line-height: 20px;
	float: left;
}

span.posted-on a time {
	font-size: 10px;
	text-align: center;
}

span.posted-on a time:nth-of-type(2) {
	font-size: 16px;
}

span.author {
	font-size: 12px;
}

span.author i {
	color: #fff;
}

span.author a {
	color: #fff;
	font-weight: normal;
}

span.author a:hover {
	color: #D7263D;
}

span.comments-link {
	font-size: 12px;
}

span.comments-link i {
	color: #fff;
}

span.comments-link a {
	color: #fff;
	font-weight: normal;
} 

span.comments-link a:hover {
	color: #D7263D;
}

.swiper-slide .nnc-category-list {
	padding: 9px 0 0 66px;
}

.nnc-hightlight-large .nnc-category-list {
	padding: 9px 0 0 66px;
}

span.cat-links a {
	display: inline-block;
	font-size: 10px;
	background: #000;
	padding: 5px;
	margin-bottom: 5px;
	color: #fff;
	outline-color: #000;
}

span.catlinks a:before {
	border: 1px solid #000;
	content: '';
	padding: 10px;
	width: 200px;
	height: 200px;
}

.nnc-highlight-post {
	float: right;
	width: 50%;
}

.nnc-highlight-slider .nnc-highlight-block {
	width: 100%;
}

.nnc-hightlight-large {
	position: relative;
	margin-bottom: 2px;
	overflow: hidden;
}

.nnc-hightlight-large .nnc-slide-img {
	line-height: 0; 
}

.nnc-hightlight-small .nnc-slide-img {
	line-height: 0; 
}

.nnc-hightlight-large:hover img {
	overflow: hidden;
	transform: scale(1.2) rotate(3deg);
}

.nnc-hightlight-small .nnc-highlight-single {
	width: calc(50% - 1px);
	position: relative;
	float: left;
	margin-left: 2px;
	overflow: hidden;
}

.nnc-hightlight-small .nnc-highlight-single:hover img {
	overflow: hidden;
	transform: scale(1.2) rotate(3deg);
}

.nnc-hightlight-small .nnc-highlight-single:nth-of-type(1) {
	margin-left: 0;
}

.nnc-hightlight-small .nnc-highlight-single .nnc-entry-title a {
	font-size: 14px;
	line-height: 20px;
}

.nnc-hightlight-small .nnc-highlight-single .nnc-category-list {
	padding:  0;
}

.nnc-hightlight-small .nnc-highlight-single .nnc-slide-dtl {
	padding: 14px 14px 0 14px;
}


/*=====  End of highlight Banner  ======*/

/*==============================
=            Latest            =
==============================*/
.nnc-top-latest {
	/*padding: 28px 0 0 0;*/
}

.nnc-top-latest .widget {
	margin: 0;
}

.nnc-title {
	position: relative;
}

h2.widget-title {
    color: #444;
    margin-bottom: 16px;
    font-weight: 400;
	text-transform: uppercase;
	position: relative;
}

h2.widget-title:after { 
    content: '';
    display: block;
    height: 1px;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1; 
}

h2.widget-title > span {
    background: #fff;
    display: inline-block;
    padding: 0 14px 0 30px;
    font-size: 20px;
    color: #D7263D;
    position: relative;
    z-index: 99;
}

.widget-title > span:before {
    content: '\f260';
    font-family: 'FontAwesome';
    position: absolute;
    top: 1px;
    left: 0;
}

.nnc-viewmore {
	float: right;
}

.nnc-viewmore i {
	font-size: 20px;
	position: absolute;
    top: 1px;
    right: 0;
    z-index: 999;
    padding-left: 14px;
    background: #fff;
}

.nnc-latest-single {
	float: left;
	width: 24.8%;
	position: relative; 
	margin-right: 2px;
	margin-bottom: 2px;
} 

.nnc-latest-single:nth-child(4n) { 
	margin-right: 0;
} 

.nnc-latest-single .nnc-dtl { 
	padding: 12px 12px 0 12px;
}

.nnc-latest-single:hover img {
	overflow: hidden;
	transform: scale(1.2) rotate(3deg);
}

.nnc-latest-single:nth-of-type(1) {
}

.nnc-latest-single .nnc-entry-title a {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 8px;
}

.nnc-latest-single span.posted-on i {
	color: #fff;
}

.nnc-latest-single span.posted-on a {
	padding: 0;
	background: none;
	display: inherit;
	line-height: inherit;
	float: left;
}

.nnc-latest-single span.posted-on a time {
	font-size: 12px;
	text-align: center;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.nnc-latest-single span.posted-on a time:hover {
	color: #D7263D;
}

.nnc-latest-single .nnc-entry-meta {
    margin-bottom: 12px;
}

.nnc-img {
	line-height: 0; 
	overflow: hidden;
}

/*For Layout 2*/
.nnc-latest-layout-2 .nnc-latest-single {
	position: relative;
}

.nnc-latest-layout-2 .nnc-dtl {
	position: static;
	background: none;
}

.nnc-latest-layout-2 .nnc-latest-single .nnc-entry-title a {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 8px;
	color: #222; 
}

.nnc-latest-layout-2 .nnc-latest-single .nnc-entry-title a:hover {
	color: #D7263D;
}

.nnc-latest-layout-2 .nnc-latest-single span.posted-on i {
	color: #888;
}

.nnc-latest-layout-2 .nnc-latest-single span.posted-on a {
	padding: 0;
	background: none;
	display: inherit;
	line-height: inherit;
	float: left;
	color: #888;
}

.nnc-latest-layout-2 .nnc-latest-single span.posted-on a time {
	font-size: 13px;
	text-align: center;
	color: #888;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.nnc-latest-layout-2 .nnc-latest-single span.posted-on a time:hover {
	color: #D7263D;
}

.nnc-latest-layout-2 .nnc-latest-single .nnc-entry-meta {
    margin-bottom: 0;
}

.nnc-latest-layout-2 .nnc-latest-single span.comments-link i {
	color: #888;
}

.nnc-latest-layout-2 .nnc-latest-single span.comments-link a {
	color: #888;
}

.nnc-latest-layout-2 .nnc-latest-single span.comments-link a:hover {
	color: #D7263D;
}

.nnc-latest-layout-2 .nnc-img {
	line-height: 0;
	overflow: hidden;
}

.nnc-latest-layout-2 .nnc-category-list {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px 0 0 20px;
}

.nnc-latest-layout-2 .nnc-latest-single:hover img {
	overflow: hidden;
	transform: scale(1.2) rotate(3deg);
} 


/*=====  End of Latest  ======*/

/*===============================
=            Content            =
===============================*/

#primary .widget { 
	background: #fff;
	padding: 12px;
}

/*=============================================
=            Primary/Secondary            =
=============================================*/
#primary {
	width: 70%;
	float:left;
	margin: 30px 0;
}

#secondary {
	width: 27%;
	float: right;
	margin-top: 30px;
}

body.left-sidebar #secondary {
	float: left;
}

body.left-sidebar #primary {
	float: right;
}

/*----
.both-sidebar #secondary {
    float: left;
    max-width: 100%;
    min-height: 100vh;
    height: 100%;
} ------*/


/*=====  End of Primary/Secondary  ======*/

/*=============================================
=            Default Widgets            =
=============================================*/
.widget:after {
	content: '';
	display: block;
	clear: both;
}

h2.widget-title {
    font-size: 20px;
    margin-bottom: 16px;
}

.widget li {
    padding: 8px 0;
    font-size: 15px;
    line-height: 20px;
}

.widget ul li a {
    font-size: 14px;
    word-wrap: break-word;
}

span.post-date {
	font-size: 13px;
}

.calendar_wrap {
	padding: 8px 0;
}

.textwidget {
	word-wrap: break-word;
	line-height: 24px;
	font-size: 14px;
}

.calendar_wrap td {
    border: 1px solid #ccc;
    text-align: center;
    font-size: 12px;
    padding: 6px;
	color: #555;
}

.calendar_wrap th {
    border: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
    padding: 8px;
}

.calendar_wrap caption {
    border: 1px solid #ccc;
    border-bottom: 0;
    font-size: 14px;
    padding: 8px;
}

.calendar_wrap td a {
	color: #fff;
	text-decoration: none;
}

#today {
	background: #D7263D;
	color: #fff;
}

#today:hover {
	background: #D7263D;
}



/*=====  End of Default Widgets  ======*/






/*======================================
=            Category-block            =
======================================*/
/*.nnc-category {*/
    /*!*padding: 30px 0 0;*!*/
    /*background: #fff;*/
    /*padding: 12px;*/
    /*box-shadow: 0 0px 3px 1px #eee;*/
/*}*/

.nnc-category-block .nnc-category-large .nnc-category-single:nth-of-type(1) {
	padding-top: 0;
	margin-top: 0;
}

.nnc-category-large .nnc-category-single {
	width: calc(49% - 5px);
    float: left;
    margin-right: 23px;
	overflow: hidden;
}

.nnc-category-large .nnc-category-single:hover .nnc-img img {
	overflow: hidden;
	transform: scale(1.2) rotate(3deg);
}

.nnc-category-large .nnc-category-single:nth-of-type(2) {
	margin-right: 0;
	margin-top: 0;
}

.nnc-category-large .nnc-category-single .nnc-img {
	float: none;
	margin-bottom: 10px;
}

.nnc-category .nnc-entry-title a {
	font-size: 16px;
	color: #444;
	line-height: 24px;
	display: block;
	margin-bottom: 8px;
	font-family: 'Open Sans', sans-serif;
}

.nnc-category .nnc-entry-title a:hover {
	color: #D7263D;
}

.nnc-category .nnc-img {
	margin-bottom: 10px;
	overflow: hidden;
}

.nnc-category .nnc-dtl {
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    background: linear-gradient(to top, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0.8));
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 18px 18px 0 18px;
}

.nnc-category .nnc-entry-meta {
    margin-bottom: 12px;
}

.nnc-category span.posted-on i {
	color: #888;
	font-size: 13px;

}

.nnc-category span.posted-on a {
	padding: 0;
	background: none;
	display: inherit;
	line-height: inherit;
	float: none;
}

.nnc-category span.posted-on a time {
	font-size: 12px;
	text-align: center;
	color: #888;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.nnc-category span.posted-on a time:hover {
	color: #D7263D;
}

.nnc-category span.author i {
	color: #888;
}

.nnc-category span.author {
	color: #888;
}

.nnc-category span.author a {
	color: #888;
}

.nnc-category span.author a:hover {
	color: #D7263D;
}

.nnc-category span.comments-link i {
	color: #888;
}

.nnc-category span.comments-link a {
	color: #888;
}

.nnc-category span.comments-link a:hover {
	color: #D7263D;
}

.nnc-content {
	font-size: 14px;
	line-height: 24px;
	font-family: 'lato';
	padding-top: 8px;
	color: #555;
}

/*======================================
=            Category Small            =
======================================*/
.nnc-category-single {
	width: calc(49% - 5px);
    float: left;
    margin-right: 23px;
	margin-top: 20px;
	/*padding-bottom: 20px;
	border-bottom: 1px solid #eee; */
	overflow: hidden;
}

.nnc-category-single:hover .nnc-img img {
	overflow: hidden;
	transform: scale(1.2) rotate(3deg);
}

.nnc-category-single:hover .nnc-img:after {
	background: rgba(00,000,000,.3);
}

.nnc-category-single:nth-of-type(2n) {
	margin-right: 0;
}

.nnc-category-single .nnc-img {
	margin-bottom: 0;
	float: left;
	overflow: hidden;
	position: relative;
}

.nnc-category-small .nnc-category-single .nnc-img { 
    margin-right: 18px;
    margin-bottom: 0;
    float: left;
    overflow: hidden;
    position: relative;
}

.nnc-category-single .nnc-img:after {
	content: '';
	background: rgba(00,000,000,0);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.nnc-category-single .nnc-category-dtl {
    /*float: right; */
}

.nnc-category-single .nnc-entry-title a {
	font-size: 14px;
	line-height: 20px;
}

/*=====  End of Category Small  ======*/

/*Category Layout 2*/
.nnc-category-dtl p {
    font-size: 13px;
    color: #333;
    line-height: 22px;
    padding-top: 6px;
}

.nnc-category-layout-2 .nnc-category-single {
	width: calc(49% - 5px);
	margin-right: 0;
	margin-top: 20px;
	overflow: hidden;
}

.nnc-category-layout-2 .nnc-category-single .nnc-category-dtl {
	width: 100%;
}

/*.nnc-category-small .nnc-category-single .nnc-category-dtl {*/
	/*float: right;*/
	/*width: 60%;*/
/*}*/

.nnc-category-layout-2 .nnc-category-small {
	width: calc(49% - 5px);
	float: right;
}

.nnc-category-layout-2 .nnc-category-small .nnc-category-single {
	float: none;
	width: 100%;
}

.nnc-category-layout-2 .nnc-category-single:first-of-type {
	margin-top: 0;
}

.nnc-category-layout-3 .nnc-category-single {
	width: 100%;
	float: none;
	margin-right: 42px;
	margin-top: 20px;
	overflow: hidden;
}

.nnc-category.nnc-category-layout-3 {
	width: calc(49% - 5px);
	margin-right: 0;
}

.nnc-category-layout-3 .nnc-category-single:nth-of-type(1) {
	margin-top: 0;
}



/*=====  End of Category-block  ======*/

/*=========================================
=            Category layout 1            =
=========================================*/

.nnc-category-small-block .nnc-hightlight-large {
	width: 50%;
	float: left;
}

.nnc-slide-img {
	line-height: 0;
	overflow: hidden;
}

.nnc-category-highlight-block .nnc-hightlight-large .nnc-slide-img {
	max-height: inherit;
}

a.nnc-readmore {
	background: #333;
	color: #fff;
	font-size: 12px;
	padding: 10px;
	display: inline-block;
	margin-top: 10px;
}

a.nnc-readmore:hover {
	background: #D7263D;
	color: #fff;
}

.nnc-category-highlight-block .nnc-highlight-single {
	margin-bottom: 30px; 
	border-bottom: 2px solid #333;
	background: #fff;
	padding: 12px 12px 30px;
}

.nnc-category-small-block .nnc-hightlight-large {
	width: calc(52% - 37px);
	float: left;
	margin-right: 40px;
}

.nnc-hightlight-large:nth-child(2n) {
	margin-right: 0;
}

.nnc-category-small-block .nnc-highlight-single .nnc-dtl .nnc-entry-title a {
	font-size: 16px;
}

.nnc-pagination li {
	display: inline-block;
}

.nnc-pagination li a {
	display: inline-block;
	background: #222;
	width: 34px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	text-align: center;
	color: #fff;
}

.nnc-pagination li a:hover {
	background: #D7263D;
}

.nnc-pagination li.active a {
	background: #D7263D;
}

.nnc-pagination {
	margin-bottom: 40px;
}



.nnc-category2-highlight-block .nnc-dtl {
	background: none;
	position: static;
	padding: 18px 0 0;
}

.nnc-category2-highlight-block .nnc-entry-title a {
	color: #000;
}

.nnc-category2-highlight-block .nnc-entry-title a:hover {
	color: #D7263D;
}



.nnc-category2-highlight-block .nnc-entry-meta span.posted-on i {
	color: #000;
}

.nnc-category2-highlight-block .nnc-entry-meta span.posted-on a {
	padding: 0;
	background: none;
	display: inherit;
	line-height: inherit;
	float: none;
}

.nnc-category2-highlight-block .nnc-entry-meta span.posted-on a time {
	font-size: 13px;
	text-align: center;
	color: #000;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.nnc-category2-highlight-block .nnc-entry-meta span.posted-on a time:hover {
	color: #D7263D;
}

.nnc-category2-highlight-block .nnc-entry-meta span.author i {
	color: #000;
}

.nnc-category2-highlight-block .nnc-entry-meta span.author a {
	color: #000;
}

.nnc-category2-highlight-block .nnc-entry-meta span.author a:hover {
	color: #D7263D;
}

.nnc-category2-highlight-block .nnc-entry-meta span.comments-link i {
	color: #000;
}

.nnc-category2-highlight-block .nnc-entry-meta span.comments-link a {
	color: #000;
}

.nnc-category2-highlight-block .nnc-entry-meta span.comments-link a:hover {
	color: #D7263D;
}

.nnc-category2-highlight-block .nnc-category-list {
	padding: 12px 0 0 0;
}

/* For No Image in category */
.nnc-category-single.nnc-no-image .nnc-category-dtl {
	float: none;	
	width: 100%;
}



/*=====  End of Category layout 1  ======*/

/* Pagination */
.nnc-pagination span.page-numbers.current {
    background: #D7263D;
    color: #fff;
    padding: 7px 12px;
    font-size: 14px;
}

.nnc-pagination a.page-numbers {
    background: #333;
    color: #fff;
    padding: 7px 12px;
    font-size: 14px;
}

.nnc-pagination a.page-numbers:hover {
    background: #D7263D; 
}



/*=====  End of Content  ======*/

/*==============================
=            Footer            =
==============================*/
.nnc-footer h2.widget-title:after {
    content: '';
    display: block;
    height: 1px;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 1;
}

.nnc-footer {  
	border-top: 4px solid #D7263D;
	background: #fff;
}

.nnc-footer-block {
	padding-top: 40px;
}

.nnc-footer-single {
	width: 20%;
	float: left;
	margin-left: 58px; 
}

.nnc-footer-single .widget {
	margin: 0 0 36px 
}

.nnc-footer-single:nth-child(1) {
	margin-left: 0;
}

.nnc-footer .widget-title > span {
	background: #fff;
	z-index: 999;
	position: relative;
}

.nnc-bottom-footer {
	background: #222;
	padding: 14px 0;
}

.nnc-bottom-footer p {
	color: #fff;
	font-size: 13px;
}

.nnc-footer-column-3 .nnc-footer-single {
    width: 30%;
    float: left;
    margin-left: 58px;
}

.nnc-footer-column-3 .nnc-footer-single:nth-child(1) {
    margin-left: 0;
}

.nnc-footer-column-2 .nnc-footer-single {
    width: 47.5%;
    float: left;
    margin-left: 58px;
}

.nnc-footer-column-2 .nnc-footer-single:nth-child(1) {
    margin-left: 0;
}

.nnc-footer-column-1 .nnc-footer-single {
    width: 100%;
    float: none;
    margin-left: 0;
} 

/*=====  End of Footer  ======*/



/*-------------Scroll to top--------------*/
.nnc-scroll-top {
	position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
	background: rgba(000, 000, 000, 0.5);
	color: #fff;
	width: 38px;
	height: 38px; 
	line-height: 38px;
	right: 22px;
	bottom: 20px;
	padding-bottom: 2px;  
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none; 
}

.nnc-scroll-top:hover {
	opacity: 1 !important;
	background: #D7263D;
	color: #fff;
}

.nnc-scroll-top.show {
	visibility: visible;
	cursor: pointer;
	opacity: 1.0;
}

.nnc-scroll-top i.fa {
	line-height: inherit;
	font-size: 20px;
}

.nnc-social-sidebar-icons ul li {
	float: left;
	border: 1px solid #eee;
	margin: 0;
	padding: 0;
	width: 100%;
	display: inline-block;
}

.nnc-social-sidebar-icons ul li a i {
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 38px;
	color: #fff;
	font-size: 14px;
}

.nnc-social-sidebar-icons ul li a span {
	color: #fff;
	padding-left: 10px;
	font-size: 12px;
}

li.nnc-fb i {
	background: #3b5998;
}

.nnc-social-sidebar-icons ul li.nnc-fb {
	background: #304D8D;
}

li.nnc-twt i {
	background: #55acee;
}

.nnc-social-sidebar-icons ul li.nnc-twt {
	background: #47a5ed;
}

li.nnc-gplus i {
	background: #dd4b39;
}

.nnc-social-sidebar-icons ul li.nnc-gplus {
	background: #de412c;
}

li.nnc-linked i {
	background: #007bb5;
}

.nnc-social-sidebar-icons ul li.nnc-linked {
	background: #0070a3;
}

li.nnc-insta i {
	background: #e95950;
}

.nnc-social-sidebar-icons ul li.nnc-insta {
	background: #e85046;
}

li.nnc-utube i {
	background: #bb0000;
}

.nnc-social-sidebar-icons ul li.nnc-utube {
	background: #a80000;
}

li.nnc-tumb i {
	background: #32506d;
}

.nnc-social-sidebar-icons ul li.nnc-tumb {
	background: #2a4d6e;
}

li.nnc-rss i {
	background: #ff6600;
}

.nnc-social-sidebar-icons ul li.nnc-rss {
	background: #e95f03;
}

.nnc-f-gallery-block {
	background: #1A1A1A;
}  

.nnc-f-gallery .nnc-gallery-single {
	width: 16.5%;
	position: relative;
	margin-bottom: 0;
}  

.rainbownews_gallery .nnc-latest {
    background: #fff;
    padding: 0;
    box-shadow: none;
    padding-top: 18px;
}

.nnc-ico-dtl i {  
	width: 100%;
	height: 100%;
	line-height: 110px;
	color: #fff;
	text-align: center;
    background: rgba(000,000,000,0.6);
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

figure.nnc-g-img {
    line-height: 0;
}

.nnc-gallery-single:hover .nnc-ico-dtl i {
	opacity: 1;
}

.nnc-footer-single .nnc-info p {
    font-size: 14px;
    color: #333;
    line-height: 20px; 
}



 

/*sticky*/
.nnc-nav.nnc-sticky {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    background: #fff; 
} 

.admin-bar .nnc-sticky {
	margin-top: 32px;
}

/*================================
=            404 Page            =
================================*/
body.error404 #primary {
	float: none;
	width: 60%;
	margin: 0 auto;
	text-align: center;
	padding: 50px 0; 
}

.error-404 h2 {
	font-size: 140px;
	color: #333;
}

.error-404 p {
	padding: 30px 0;
	line-height: 24px;
}

.error-404 .search-form {
	margin-bottom: 60px;
}

/*=====  End of 404 Page  ======*/


/*===================================
=            Search Page            =
===================================*/
body.search h1.page-title {
	padding-bottom: 20px;
	font-size: 24px;
	font-weight: 600;
}

.no-results .page-content p {
	padding-bottom: 18px;
}
.no-results .search-form {
	float: none;
}

.no-results .s-form {
	max-width: 400px;
}

body.search h2.entry-title {
	padding-bottom: 6px;
}

body.search .entry-summary {
    font-size: 14px;
    line-height: 24px;
    font-family: 'lato';
    margin: 0;
    color: #555;
}

body.search article.post {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #333;
}

/*=====  End of Search Page  ======*/

/*===================================
=            Index Page            =
===================================*/

h2.entry-title {
	padding-bottom: 14px;
	word-wrap: break-word;
	line-height: 26px;
}

article.post {
	border-bottom: 2px solid #666;background: #fff;
    padding: 12px;
}

/*===================================*/

/*==============================
=            Box Bg            =
==============================*/
.nnc-latest {
    background: #fff;
    padding: 12px;
    box-shadow: 0 0 3px 1px #eee;
}

#secondary .widget {
    margin: 0 0 1.5em;
    background: #fff;
    padding: 12px;
    box-shadow: 0 0 3px 1px #eee;
}

header#masthead {
    background: #fff;
}

.nnc-top-header {
	background: #fff;
}

/*=====  End of Box Bg  ======*/


/*============================
=            Tabs            =
============================*/
span.comment-author-link {
	color: #D7263D;
}

.nnc-tabs ul li {
	display: inline-block;
	padding: 8px 10px;
	cursor: pointer;
	text-align: center;
	border-right: 1px solid #eee;
	line-height: normal;
}
.nnc-tabs .tabcontent ul#recentcomments li a {
	font-style: italic;
}
.nnc-tabs .tabcontent ul#recentcomments li {
	display: block;
	padding: 0;
	cursor: pointer;
	text-align: left;
	border-right: none;
	line-height: 24px;
}

.nnc-tabs ul li:last-child {
	border-right: 0;
}

li.tablinks.active {
    background: #D7263D;
    color: #fff; 
}

.nnc-tabs .tabcontent.tab-active {
    display: block;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    border-bottom: 3px solid #D7263D;  
}

/* Float the list items side by side */
ul.tab li {float: left; background: #fff;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 14px 0 0; 
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.nnc-popular .nnc-category-single {
	width: 100%;
	float: none;
	margin-top: 10px;
}

.nnc-popular .nnc-category-single .nnc-img {
	width: 30%;
}

.nnc-popular.nnc-category {
	padding: 0;
}

.nnc-popular.nnc-category .nnc-category-single:nth-of-type(1) {
	margin-top: 0;
} 


/*=====  End of Tabs  ======*/




/*=======================================
=            Theme Unit test            =
=======================================*/
/*====================================
=            Post All Css            =
====================================*/
.aligncenter {
	padding: 10px 0;
}

.alignleft {
	padding: 10px 0;
}

.alignnone {
	padding: 10px 0;
}

.alignright {
	padding: 10px 0;
}

figcaption.wp-caption-text {
    background: #666;
    color: #fff;
    padding: 16px;
    margin: 0!important;
    font-size: 14px;
}

blockquote {
	position: relative;
	padding: 12px 18px;
	margin: 14px 0;
	border-left: 4px solid #ff4a1c;
}

table {
	margin: 14px 0;
}

d 
	color: #777;
	line-height: 30px;
}

dt {
	font-size: 18px;
	color: #555;
}

dd {
	font-size: 15px;
}

td {
	color: #777;
	padding: 10px;
}

pr
	font-size: 14px;
	line-height: 24px;
	padding: 14px;
	margin: 14px 0;
	color: #777;
}

.comment-content a {
	text-decoration: none;
	color: #ff4a1c;
	font-weight: 400;
	font-style: italic;
	-webkit-transition: 0.5s ease-in-out;
	-moz-transition: 0.5s ease-in-out;
	-ms-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.comment-content a:hover {
	text-decoration: none;
	color: #ff4a1c;
}

address {
	font-size: 14px;
	color: #444;
	line-height: 30px;
}

.post-title {
	margin: 0 0 5px;
	font-weight: bold;
	font-size: 38px;
	line-height: 1.2;
} 

.entry-content h2 {
	font-size: 30
	font-weight: normal;
	padding: 6px 0;
}

.entry-content h1 {
	font-size: 36
	font-weight: normal;
	padding: 6px 0;
}

.entry-content h2 {
	font-size: 30
	font-weight: normal;
	padding: 6px 0;
}

.entry-content h3 {
	font-size: 24
	font-weight: normal;
	padding: 10px 0;
}

.entry-content h4 {
	font-size: 18
	font-weight: normal;
	padding: 6px 0;
}

.entry-content h5 {
	font-size: 14
	font-weight: normal;
	padding: 6px 0;
}

.entry-content h6 {
	font-size: 12
	font-weight: normal;
	padding: 6px 0;
}

.entry-content-img { 
	line-height: 0; 
	max-height: 400px;
	overflow: hidden;
}

.entry-content-img img {
	width: 100%; 
}

.entry-content p {
	margin: 0; 
	color: #555;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
} 

.entry-content ul {
	list-style: square; 
	padding-left: 18px;
}

.entry-content ul li {
	margin: 0; 
	color: #555;
	font-weight: 300;
	font-size: 15px;
	line-height: 30
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.entry-content ol {
	list-style: square;
	color: #ff4a1c;
	padding-left: 18px;
}

.entry-content ol li {
	margin: 0; 
	color: #555;
	font-weight: 300;
	font-size: 15px;
	line-height: 30
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.post .above-entry-meta {
	margin-bottom: 8px;
}

p.comment-notes {
	font-size: 12px;
	font-style: italic;
	padding: 18px 0 0;
}
span.required {
	color: indianred;
}
.comment-form p label {
	padding: 14px 0;
	display: block;
}

.comment-form p input {
	width: 100%;
	border-radius: 0;
	border: 1px solid #eee;
}

p.form-submit input {
	max-width: 200px;
}

body.no-sidebar-content-centered #primary {
	width: 80%;
	margin: 30px auto;
	float: none;
}

body.no-sidebar-full-width #primary {
	width: 100%;
	margin: 30px 0;
	float: none;
}

body.no-sidebar-full-width .nnc-category-small-block .nnc-hightlight-large {
	width: calc(51.6% - 37px);
}
header.page-header {
	padding-bottom: 20px;
}

.nnc-nav {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	position: relative;
}

.nnc-resp-menu {
	display: none;
}
.nnc-resp-navigation {
	display: none;
	max-height: 400px;
	overflow: auto;
}
/*=====  End of Post All Css  ======*/


/*=====  End of Theme Unit test  ======*/

body.box {
	max-width: 1050px;
	box-shadow: 0 0 3px 0 #ccc;
	margin: 30px auto;
}

body.box .site-content {
	background: #f9f9f9;
}

body.box .nnc-nav.nnc-sticky {
	max-width: 1050px;
}

/*
 * PAGE LOADER
-------------------------------*/

.pageloader{
	background: #f8f8f8;
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	height: 100%;
	-webkit-justify-content: center;
	justify-content: center;
	left: 0;
	overflow: hidden;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 9999;
}
.spinner {
	margin: 100px auto;
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
}

.spinner > div {
	background-color: #D7263D;
	height: 100%;
	width: 6px;
	display: inline-block;
	
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% {
		   transform: scaleY(1.0);
		   -webkit-transform: scaleY(1.0);
	   }
}

body.loading{
	height: 100vh;
	overflow: hidden;
}
